[submodule "blog"]
	path = blog
	url = git@github.com:Ohto-Ai/blog.git
[submodule "tools/webhook"]
	path = tools/webhook
	url = git@github.com:Ohto-Ai/webhook.git
[submodule "gitalk"]
	path = gitalk
	url = git@github.com:Ohto-Ai/gitalk-single-page.git
