#login {
    position: absolute;
    width: 360px;
    margin: 8px 16px 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 26px;
    text-shadow: 0 0 1 black;
}


#login > form > fieldset {
    background: rgba(0, 0, 0, .3);
    border: none;
}

a {
    color: #07f;
}

input[type="submit"] {
    margin-right:0;
    background: rgba(255, 255, 255, .5);
    font-size: 20px;
    border: none;
    float:right;
    overflow:hidden;
}

input[type="text"]
{
    width: 180px;
    background: rgba(255, 255, 255, .3);
    border: rgba(255, 255, 255, .3);
    
}

input[type="password"]
{
    width: 180px;
    background: rgba(255, 255, 255, .3);
    border: rgba(255, 255, 255, .3);
}

