@keyframes fadeIn{
  0%{
    transform: scale(0.95);
    opacity: 0.0;
  }
  100%{
    transform: scale(1.0);
    opacity: 1.0;
  }
}
@keyframes fadeOut{
  0%{
    transform: scale(1.0);
    opacity: 1.0;
  }
  100%{
    transform: scale(0.95);
    opacity: 0.0;
  }
}
@keyframes opacity{
  0%{
    opacity: 1.0;
  }
  100%{
    opacity: 0.0;
  }
}
@keyframes widthing{
  0%{
    width: 0px;
  }
  100%{
    width: 114px;
  }
}

.one ul li:nth-child(4) div{
  animation: widthing 0.4s 10.25s linear forwards;
}

.two ul:nth-of-type(1) li:nth-child(1) ul li:nth-child(1){
  animation: fadeIn 0.12s 5.0s linear forwards, fadeOut 0.12s 7.9s linear forwards;
}
.two ul:nth-of-type(1) li:nth-child(2) ul li:nth-child(1){
  animation: fadeIn 0.12s 5.15s linear forwards, fadeOut 0.12s 7.9s linear forwards;
}
.two ul:nth-of-type(1) li:nth-child(3) ul li:nth-child(1){
  animation: fadeIn 0.12s 5.3s linear forwards, fadeOut 0.12s 7.9s linear forwards;
}
.two ul:nth-of-type(1) li:nth-child(4) ul li:nth-child(1){
  animation: fadeIn 0.12s 5.45s linear forwards, fadeOut 0.12s 7.9s linear forwards;
}
.two ul:nth-of-type(1) li ul li:nth-child(2){
  animation: opacity 0.12s 7.9s linear forwards;
}
