/* 页面整体 */

*::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
}

.app {
  /* background-color: rgba(0, 170, 255, 0.247); */

  user-select: none;
  width: 100%;
  height: 100%;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.app[top-page] {
  background-size: cover;
  background-image: url(https://thatboy.info/api/img?op=get&type=direct&tags=R-15,wallpaper);
}

/* 标题 */
.dj-head {
  padding: 0 10px;
  background-color: rgba(238, 238, 238, 0.8);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  border-color: aliceblue;
  box-shadow: 0px 2px 2px #bebaba;
  height: 7vh;
}

.dj-head h1 {
  margin: 0;
}

.dj-main-content {
  height: 930vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

/* 任务盒 */
.dj-box {
  /* background-color: rgba(131, 211, 180, 0.329); */
  display: flex;
  position: relative;
  width: 400px;
  /* border-radius: 25px;
      box-shadow: 5px 5px 2px #bebaba; */

  align-items: flex-start;
  flex-direction: column;
}

/* 选择框 */
.dj-choosebox {
  position: relative;
  width: 360px;
  padding: 20px;

  background-color: rgba(197, 197, 197, 0.363);
  display: flex;
  flex-direction: column;

  border-radius: 25px;
  box-shadow: 5px 5px 2px #bebaba;

  font-family: "Courier New", Courier, monospace;
}

#author,
#cust_tags {
  right: 50px;
  top: -5px;
  height: 25px;
}

.dj-choosebox p {
  position: relative;
}

/* 拖拽框 */
.dj-dropbox {
  width: 400px;
  /* height: 100%; */
  font-size: 30px;
  color: #333333;
  background-color: rgba(230, 230, 230, 0.5);
  border: 3px dashed silver;
  border-radius: 25px;
  box-shadow: 5px 5px 2px #bebaba;
}

.dj-dropbox p {
  line-height: 100px;
  text-align: center;
}

.upload_button {
  align-self: center;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.upload_button:hover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.upload_button:disabled {
  background-color: rgba(20, 255, 40, 0.5);
}

#upload-list-info[on-upload] {
  color: red;
  animation: blink 1s linear infinite;
  /* 其它浏览器兼容性前缀 */
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  -ms-animation: blink 1s linear infinite;
  -o-animation: blink 1s linear infinite;
}

.fileUploadInput {
  display: none;
}

.upload-image-wrapper {
  position: relative;
  background-color: #9e9e9e65;
  width: calc(calc(98%) - calc(400px));
  height: 99%;

  top: 1%;
  left: 1%;
  border-radius: 25px;
  box-shadow: 5px 5px 2px #bebaba;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.upload-image-wrapper::-webkit-scrollbar {
  width: 0 !important;
}
.upload-image-wrapper {
  -ms-overflow-style: none;
}
.upload-image-wrapper {
  overflow: -moz-scrollbars-none;
}
.upload-image-preview-div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 5px 5px 2px #bebaba;
  background: linear-gradient(
    to bottom right,
    rgba(182, 182, 182, 0.7),
    rgba(248, 248, 248, 0.7),
    rgba(182, 182, 182, 0.7)
  );
  border-radius: 25px;
  width: 250px;
  height: 180px;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.upload-image-preview-div img {
  position: absolute;
  border-radius: 10px;
  margin: 20px 30px;
  max-width: 200px;
  max-height: 100px;
}

.upload-image-preview-div .upload-image-name {
  position: absolute;
  width: max-content;
  max-height: 50px;
  top: 110px;
  left: 20px;
  overflow: hidden;
}
.upload-image-preview-div .upload-image-size {
  position: absolute;
  max-width: 220px;
  max-height: 50px;
  top: 132px;
  left: 20px;
  overflow: hidden;
}

.del {
  background: url(/assets/img/delete.svg) no-repeat;

  box-shadow: -2px -2px 2px #5e5e5e;
  background-size: cover;
  border-radius: 100%;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 8px;

  z-index: 99;
}

.upload-image-loader-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.upload-image-loader {
  display: none;
  opacity: 0.6;
  border: 8px solid #f3f3f3;
  border-color: #fff #fff #0099ff #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: load 2s linear infinite;
  z-index: 10;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.upload-image-preview-div[upload-status="doing"] .upload-image-loader {
  display: inline;
}
.upload-image-preview-div[upload-status="doing"] .upload-image-background {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: black;
  opacity: 0.6;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition:1s;
}

.upload-image-preview-div[upload-status="failed"] .upload-image-background {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: red;
  opacity: 0.6;
  z-index: 1;
  width: 100%;
  height: 100% !important;
}

.upload-image-preview-div[upload-status="doing"] .del {
  display: none;
}
.upload-image-preview-div[upload-status="failed"] .del {
  background: url(/assets/img/delete.svg) no-repeat;
  background-size: cover;
}
.upload-image-preview-div[upload-status="success"] .del {
  background: url(/assets/img/success.svg) no-repeat;
  background-size: cover;
}

[type="text"] {
  background-color: rgba(200, 200, 200, 0.4);
  position: absolute;

  font-size: 14px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

/* 定义keyframe动画，命名为blink */
@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* 添加兼容性前缀 */
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
