.font3d-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.font3d-box p {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.font3d-box p span {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500;
  perspective: 500;
  -webkit-font-smoothing: antialiased;
}
.font3d-box p span::before,
.font3d-box p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  content: attr(data-text);
}
.font3d-box p span::before {
  z-index: 1;
  color: rgba(196, 196, 100, 0.2);
  -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
  -ms-transform: scale(1.1, 1) skew(0deg, 20deg);
  transform: scale(1.1, 1) skew(0deg, 20deg);
}
.font3d-box p span::after {
  z-index: 2;
  color: #8BF0FE;
  text-shadow: -1px 0 1px #8BF0FE, 1px 0 1px rgba(0, 0, 0, 0.8);
  -webkit-transform: rotateY(-40deg);
  transform: rotateY(-40deg);
}
.font3d-box p span:hover::before {
  -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
  -ms-transform: scale(1.1, 1) skew(0deg, 5deg);
  transform: scale(1.1, 1) skew(0deg, 5deg);
}
.font3d-box p span:hover::after {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}
.font3d-box p span + .font3d-box span {
  margin-left: 0.1em;
}
.font3d-box p span::before,
.font3d-box p span::after {
  display: block;
}
