/* hide scrollbar */
*::-webkit-scrollbar {
    display: none;
}

/* remove body border */
body{
    /* height: 100%; */
    margin: 0;
    padding: 0;
}


.main-page
{
    width: 100%;
    height: 100%;
}
.blur-div
{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-width: 0;
    background: #3f51b5;
    background-position: center center;
    background-size:100% 100%;
    background-attachment: fixed;
    z-index: -1;
}
.blur-div[use-backround-imag]
{
    background-size: cover;
    position: absolute;
    background-image: url(https://thatboy.info/api/img?op=get&type=direct&tags=pc,wallpaper);
    filter: blur(3px);
}
.blur-div iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border-width: 0;
}


.main-page-content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.main-content
{
    transition: 1s;
    
    position:fixed;
    top:0;
    left:0;
    margin: 0;
    /* left: -420px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.main-menu
{
    margin: 0!important;
    width: 100%;
    max-height: 5%;
}

.sub-frame-wrapper
{
    margin: 0;
    width: 100%;
    height: 95%;
}

.inner_frames
{
    border: none;
    display: none;
    width: 100%;
    height: 100%;
}
.inner_frames[current-page]
{
    display: inline-block;
}
