.svg-wrapper {
    font-family: Raleway;
    position: relative;
    width: 150px;
    /*make sure to use same height/width as in the html*/
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    background-color: black;
    opacity: 0.8;
}

.svg-wrapper[checked="checked"] {
    background-color: darkblue;
}

.svg_button {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

.svg-wrapper:hover .svg_button, .svg-wrapper[checked="checked"] .svg_button {
    stroke-dasharray: 50 0;
    stroke-width: 4px;
    stroke-dashoffset: 0;
    stroke: #ffae17b6;
}

#text_div {
    margin-top: -35px;
    text-align: center;
}
  
#text_div a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
}
.svg-wrapper .spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

  