html, body { height: 100%; overflow: hidden; }
body {
	// background: #000;
	// background:
	// 	url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/15664/noise.png),
		// radial-gradient(circle, hsl(210, 29%, 7%), hsl(210, 29%, 3%));
	color: #fff;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	// cursor: move;
}

#draw {
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100%;
}

label, input { vertical-align: middle; }
label {
	position: relative;
	display: inline-block;
	margin: 5px;
	padding: 5px 10px;
	user-select: none;
	z-index: 2;
	cursor: pointer;
}

#debug {
	position: absolute;
	bottom: 0; left: 0;
	color: #fff;
	font-family: Consolas, monaco, monospace;
	font-size: 1.5rem;
	white-space: pre;
}